name: say hello

on:
  push:
    branches:
      - main

jobs:
  hello_world:
    runs-on: ubuntu-18.04
    steps:
      - name: Echo the message
        run: |
          echo "hola adranuz!"
      - name: Give me the date
        run: date
      - run: ls -l
